body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'div div div div' 
                         'footer footer footer footer';
    grid-template-rows: 10px 600px 300px 400px 400px 150px;
}

/* navbar */

nav{
    grid-area: navbar;
    background-color: rgb(64, 218, 64);
}

/* header */

header{
    grid-area: header;
    background-image: url(img/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 45pt;
    font-weight: 100;
}

span{
    color: rgb(64, 218, 64);
}

header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16pt;
}



.iconenav{
    display: flex;
    width: 180px;
    height: 100px;
    justify-content: space-between;
}

.iconenav input{
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.iconenav input:hover{
    opacity: 500;
}

.navicone{
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navicone:hover{
    background-color: rgb(64, 218, 64);
    opacity: 500;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    width: 45%;
}

.imghand{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 15%;
}

/* section */

section{
    grid-area: section;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section img{
    width: 30px;
    height: 30px;
}

section h1{
    font-weight: 600;
}

section p{
    color: grey;
    width: 350px;
    text-align: center;
}

.texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.iconsec{
    width: 70px;
    height: 70px;
    background-color: rgb(64, 218, 64);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* aside */

aside{
    grid-area: aside;
    background-color: rgba(161, 161, 161, 0.445);
    display: flex;
    justify-content: space-around;
}

.aside1{
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 38%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside h1{
    font-weight: 450;
}

aside p{
    color: grey;
}

.inserirEmail{
    display: flex;
    width: 400px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside input{
    width: 70%;
    height: 100%;
    border:none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.botaoEnvio{
    width: 200%;
    height: 105%;
    background-color: rgb(64, 218, 64);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* .input-class::-webkit-input-placeholder { /* Chrome, Safari, Opera */

.aside2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div pessoas */

.pessoas{
    grid-area: div;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
}

.textoTop{
    width: 800px;
}

.textoPessoas{
    color: grey;
}

.jane{
    color:black;
}

.icones{
    display: flex;
    justify-content: space-around;
}

.pessoa1:hover{
    cursor: pointer;
    background-color: rgba(64, 218, 64, 0.466);
}

/* footer */

footer{
    grid-area: footer;
    background-color: rgba(161, 161, 161, 0.582);
}
