body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'header header header header'
                         'section section section section'
                         'aside aside aside aside'
                         'div div div div' 
                         'footer footer footer footer';
    grid-template-rows: 10px 600px 300px 400px 400px 150px;
}

nav{
    grid-area: navbar;
    background-color: rgb(64, 218, 64);
}

header{
    grid-area: header;
    background-image: url(img/banner.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 70px;
    font-weight: 100;
}

span{
    color: rgb(64, 218, 64);
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.iconenav input{
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

.iconenav input:hover{
    opacity: 100;
}

.imghand{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

section{
    grid-area: section;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto{
    display: flex;
    align-items: center;
}

aside{
    grid-area: aside;
    background-color: rgba(161, 161, 161, 0.582);
}

.pessoas{
    grid-area: div;
    background-color: white;
}

footer{
    grid-area: footer;
    background-color: rgba(161, 161, 161, 0.582);
}
